*{
	font-family: Helvetica;
}

.container, nav, footer{
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	display: block;	
}


 nav .login{

    display: inline-block;
    float:  right;
 	text-align: center;
 	margin: 10px 0;
 }

.login div{
    display: inline-block;
}

.logo{
	width: 120px;
}

input[type=text],input[type=password]{
	border-radius: 8px;
	width: 140px;
	padding: 7px;
}

input[type=submit], #quiz-button button{
	background-color: #3399db;
	color: white;
	border-radius: 8px;
	padding: 7px 20px;
	border: 3px solid #3399db;
}

input[type=submit]:hover, #quiz-button button:hover{
	background-color: white;
	color: #3399db;

}

footer{
	padding: 7px;
	background-color: lightblue;
	color: grey;
	height: 2%;
	width: 100%;
	position: fixed;
	bottom: 0;	


}

nav ul{
	background-color: #0ca4e7;
	color: white;
	padding: 0;
	position: relative;
}

nav ul li{
	display: inline-block;
	padding: 20px 17px;
}
nav ul li a{
	color: white;
	text-decoration: none;
}


nav ul li:hover{
	background: #055d84;

}

.trial{
	padding: 5px;
	background: #6bbf36;
	border-radius: 0px;
	position: relative;
}
h1{
	color: #3399db;
}

.content {
	margin: 0 auto;
	max-width: 1150px;
	width: 100%;
	display: block;	
}

.hide{
	display: none;
}

.slider{
	position: relative;
	max-width: 100%;
}

.pag{
	position: absolute;
	top: 10px;
	right: 7px;
}

.pag span{
	margin: 2px;
	cursor: pointer;
	background-color: white;
	padding: 3px;

}


.pag span:hover{
	background-color: grey;
	
}

#quiz{
	background-color: #f2f2f2;
	border-radius: 7px;
	width: 46%;
	margin: auto;
	padding: 1%;
    box-shadow: 3px 2px 12px 0px #0000009e;

}

#quiz-button {
	text-align: center;
}


.question{
	display: inline;
	margin: 2px;
}

.panel{
	display: inline-block;
	width: 100%;
}


.collapse-menu-panel{
	padding: 0;
	display: block;
	width: 100%;
}

.collapse-menu-panel li{
	display: block;
}

#menu{
	display: none;
}

input #menu {
    display: block;
    cursor: pointer;
    padding: 10px 0 10px 50px;
}

.boxik{
	padding: 8px;

}

.collaps{
	display: none;
}


#menu:checked ~ .collaps {
    display: block;
}

@media only screen and (min-width: 720px)
{
	#boxik, .boxik{
		display: none !important;
	}
	.collaps{
		display: block;
	}
	.collapse-menu-panel li{
		display: inline-block;
	}


	.trial{
		padding: 5px;
		background: #6bbf36;
		position: absolute;
		border-radius: 7px;
		top: 50%;
		right: 10px;	
		transform: translateY(-50%);
	}
}

.images{
	overflow: hidden;

}

.logo-cont{	
    display: inline-block;
    margin: 10px 0;

}

.rozvrh{
	border-style: solid;
	border-color: grey;
	margin: 10px;
	padding: 10px;

}

#kviz{
	border-bottom-style: solid;
	border-bottom-color: #9a9a9a;
	text-align: center;
}

#quiz button:hover{
	cursor: pointer;
}

.ans{
	color: blue;
}

table {
	width: 100%;
	border-width: thin;
	background-color: #ecf0f1;
}

table tr td{
	border-width: 0.1px;
	text-align: center;
	height: 60px;
	width: 50px;
	border-bottom-style: solid;
	border-bottom-color: white;
	border-right-style: solid;
	border-right-color: white;
}

.rozvrh{

	border-width: thin;
	margin: 0px;
	padding: 0px;
    width: calc(100% - 2px);
}

.table-head{
	background-color: #3598db;
	display: block;
	text-align: left;
	height: 30px;
	width: auto;
	padding: 7px 10px;
	font-size: 23px;
	color: white;
	font-weight: 700;

}

